apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false

  - name: VictoriaLogs
    type: victoriametrics-logs-datasource
    access: proxy
    url: http://victoria-logs:9428

  - name: VictoriaTraces
    type: jaeger
    access: proxy
    # https://github.com/VictoriaMetrics/VictoriaTraces/blob/master/deployment/docker/provisioning/datasources/victoriametrics-traces-datasource/single.yml#L7
    url: http://victoria-traces:8427/select/jaeger
